<head>
    <link rel='stylesheet' href='/stylesheets/footer.css' />
</head>
<footer class="footer-section mt-5">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>Ridgeland, SC 29936, United States<br>F2H9+46 Ridgeland, South Carolina, USA</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            {{!-- <i class="fas fa-phone"></i> --}}
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>+1 843-258-1123</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            {{!-- <i class="far fa-envelope-open"></i> --}}
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>owlet@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="/users"><h3 style="color: white;">Owlet</h3></a>
                            </div>
                            <div class="footer-text">
                                <p>If you would like to experience the best of online shopping for men, women and kids in India, you are at the right place. Myntra is the ultimate destination for fashion and lifestyle, being host to a wide array of merchandise including clothing, footwear, accessories, jewellery, personal care products and more. It is time to redefine your style statement with our treasure-trove of trendy items. Our online store brings you the latest in designer products straight out of fashion houses. You can shop online at Myntra from the comfort of your home and get your favourites delivered right to your doorstep.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f bg-light"></i></a>
                                <a href="#"><i class="fab fa-twitter bg-light"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g bg-light"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2018, All Right Reserved <a href="#">Anupama</a></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>