<div class="container">
    <div class="row">
    <img src="/images/error-404-landing-page-with-file-flat-design_249405-162.webp" class="rounded mx-auto d-block" style="width: auto;height: 400px;" alt="...">
    </div>
    <div class="row">
        <div class="container mt-3">
            <div class="text">
                <a href="/users" class="href"><p class="text-center">Add Items</p></a>
            </div>
        </div>
    </div>
</div>