<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  />

</head>
<div class="loginBox">
  <img
    class="user"
    src="https://i.ibb.co/yVGxFPR/2.png"
    height="100px"
    width="100px"
  />
  <h3>Sign in here</h3>
  <form action="/" method="post">
    <div class="inputBox">
      <input id="uname" type="text" name="email" placeholder="Username" />
      <input id="pass" type="password" name="password" placeholder="Password" />
    </div>
    <input type="submit" name="" value="Login" />
    <div class="error">

      {{#if loginErr}}
        <p style="color: white;" class="error">Incorrect Username or Password</p>
      {{/if}}

    </div>
  </form>
  <a href="#">Forget Password<br /> </a>
  <a href="#">OTP Login<br /> </a>
  <div class="text-center">
    <p style="color: #59238F;"><a href="/signup">Sign-Up</a></p>
  </div>

</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>