{{!-- <section class="container">
    <div class="container">
        <div class="row mt-2 ms-5">
            <div class="col-md-12 ms-5">
            <img src="/images/emptycart.png" alt="Cart Empty" class="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/users" class="href">Go to Purchase</a>
            </div>
        </div>
    </div>
</section> --}}
<div class="container">
    <div class="row">
    <img src="/images/emptycart.png" class="rounded mx-auto d-block" style="width: auto;height: 400px;" alt="...">
    </div>
    <div class="row">
        <div class="container mt-3">
            <div class="text">
                <a href="/users" class="href"><p class="text-center">Add Items</p></a>
            </div>
        </div>
    </div>
</div>