<div class="container">
    <div class="row">
    <img src="/images/678caef6068a976e4a0d94bbdba6b660.webp" class="rounded mx-auto d-block" style="width: auto;height: 400px;" alt="...">
    </div>
    <div class="row">
        <div class="container mt-3">
            <div class="text">
                <a href="/users" class="href"><p class="text-center">You havent ordered yet Go shopping</p></a>
            </div>
        </div>
    </div>
</div>